
@{
    ViewBag.Title = "rmxwebservice";
}

<h2 id="status">Please wait, reloading cache.......</h2>
<span id="error_description"></span>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        var webapi_path = '@System.Configuration.ConfigurationManager.AppSettings["RMXWebService"]';
        $.ajax({
            type: "GET",
            dataType: "json",
            url: webapi_path + "cache" + "?token=AIzaSyAJSErr4vFLsOoylqQYkfQLKM26lnsHLXY",
            success: function (data) {
                jsonValue = jQuery.parseJSON(JSON.stringify(data));
                document.getElementById("status").innerHTML = "Completed!";
                if (jsonValue == 1) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - Location's datas are NULL or Empty";
                }
                else if (jsonValue == 2) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - Vehicle's datas are NULL or Empty";
                }
                else if (jsonValue == 3) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - VehicleClass's datas are NULL or Empty";
                }
                else if (jsonValue == 4) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - VehicleMediaItem's datas are NULL or Empty";
                }
                else if (jsonValue == 5) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - PhotoList's datas are NULL or Empty";
                }
                else if (jsonValue == 6) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - WebCityStaticPage's datas are NULL or Empty";
                }
                else if (jsonValue == 7) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - Company's datas are NULL or Empty";
                }
                else if (jsonValue == 8) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - Rental's datas are NULL or Empty";
                }
                else if (jsonValue == 9) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - Amenity's datas are NULL or Empty";
                }
                else if (jsonValue == 10) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - VehicleAmenity's datas are NULL or Empty";
                }
                else if (jsonValue == 11) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - EquipmentType's datas are NULL or Empty";
                }
                else if (jsonValue == 12) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - Fee's datas are NULL or Empty";
                }
                else if (jsonValue == 13) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - LocationInsuranceCompany's datas are NULL or Empty";
                }
                else if (jsonValue == 14) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - LeadSource's datas are NULL or Empty";
                }
                else if (jsonValue == 15) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - Campground's datas are NULL or Empty";
                }
                else if (jsonValue == 16) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - EventVehicle's datas are NULL or Empty";
                }
                else if (jsonValue == 17) {
                    document.getElementById("error_description").innerHTML = "WARNNING ! - MatchVehicle's datas are NULL or Empty";
                }
                else if (jsonValue == 301) {
                    document.getElementById("status").innerHTML = "No Authorization!";
                    document.getElementById("error_description").innerHTML = "NOTE ! - It may have wrong token or no token";
                }
            },
            error: function (error) {
                var jsonError = jQuery.parseJSON(JSON.stringify(error));
                document.getElementById("status").innerHTML = "Failed Reloading Cache!";
                document.getElementById("error_description").innerHTML = "FATAL ERROR ! - " + jsonError.responseJSON.Message;
                console.log(jsonError);
            }
        });
    });
</script>